/SBTNA/bin
obj
/SBTNA.v12.suo
/packages
packages
publish
/SBTNA.suo
bin
/TestResults
/SBTNA Historic
/UpgradeLog.htm
/.nuget/NuGet.Config
/.nuget/NuGet.exe
/.nuget/NuGet.targets
/SBTNA/Resource/codes/Thumbs.db
/TNBase.suo
/TNBase.v12.suo
/TNBase/Resource/Listeners - withdata.s3db
/.vs/TNBase/DesignTimeBuild/.dtbcache
/.vs/TNBase/v15/.suo
/.vs/TNBase/v15/Server/sqlite3/db.lock
/.vs/TNBase/v15/Server/sqlite3/storage.ide
/.vs/TNBase/v15/Server/sqlite3/storage.ide-shm
/.vs/TNBase/v15/Server/sqlite3/storage.ide-wal
/TNBase/Resource/Listeners - Copy.s3db
