/SBTNA/bin
obj
/SBTNA.v12.suo
/packages
packages
publish
/SBTNA.suo
bin
/TestResults
/SBTNA Historic
/UpgradeLog.htm
/.nuget/NuGet.Config
/.nuget/NuGet.exe
/.nuget/NuGet.targets
/SBTNA/Resource/codes/Thumbs.db
/TNBase.suo
/TNBase.v12.suo
/TNBase/Resource/Listeners - withdata.s3db
.vs/
/TNBase/Resource/Listeners - Copy.s3db
/TNBase/Support/*.zip