<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TNBase.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TNBase.Settings>
      <setting name="Logo" serializeAs="String">
        <value>Resource/New_Logo.jpg</value>
      </setting>
      <setting name="MonthsUntilDelete" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="OverwritePrompt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyAutoPrintOnSat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LabelXAdjust" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="BackupDrive" serializeAs="String">
        <value>E:\</value>
      </setting>
      <setting name="BackupMBSpaceWarning" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AssociationName" serializeAs="String">
        <value>Solihull Borough Talking Newspaper Association</value>
      </setting>
      <setting name="CreateDummyData" serializeAs="String">
        <value>False</value>
      </setting>
    </TNBase.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>