<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="appName" value="TNBase" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    
    <!-- Coloured Console -->
    <target name="c" xsi:type="ColoredConsole"  layout="${longdate} ${callsite} ${level} ${message}"/>

    <!-- Rolling 5 day log. -->
    <target name="f" xsi:type="File"
          layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
          fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
          keepFileOpen="false"
          archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_{#}.log"
          archiveDateFormat="yyyy-MM-dd"
          archiveNumbering="DateAndSequence"
          archiveEvery="Day"
          maxArchiveFiles="5"
          />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!-- Logging rules. -->
    <logger name="*" minlevel="Debug" writeTo="c" />
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>
