<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="appName" value="TNBase" />

  <targets async="true">
    <!-- Coloured Console -->
    <target name="c" xsi:type="ColoredConsole"  layout="${longdate} ${callsite} ${level} ${message}"/>

    <!-- Rolling 5 day log. -->
    <target name="f" xsi:type="File"
          layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
          fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
          keepFileOpen="false"
          archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_{#}.log"
          archiveDateFormat="yyyy-MM-dd"
          archiveNumbering="DateAndSequence"
          archiveEvery="Day"
          maxArchiveFiles="5"
          />
    
  </targets>

  <rules>
    <!-- Logging rules. -->
    <logger name="*" minlevel="Debug" writeTo="c" />
    <logger name="*" minlevel="Debug" writeTo="f" />

  </rules>
</nlog>